<div class="container">
    <div class="row pt-5">
        <div class="col border shadow" style="height: 500px; width:800px; background: #fff;">
            <div class="row pt-3">

                    <div class="col-md-12 quiz-outline" style="padding: 0;">
                      <div class="col-md-12" style="padding: 0%; border-bottom: 1px solid #CECECE;">
                       <span class="question-index"> Quiz Question : {{questionIndex +1}} of 10 </span> <br>
                        <label class="quiz-question"> {{currentQuestion.question}} </label>
                      </div>
                                  
                      <mat-radio-group aria-label="Select an option"  [(ngModel)]="selectedOption" >
                         <mat-radio-button *ngFor="let option of currentQuestion.incorrect_answers" [value]="option" (change)="optionChange(option)" 
                         class="quiz-option col-md-12">{{option}}</mat-radio-button>
                     </mat-radio-group>
                    </div>

                    <div class="col-md-12" *ngIf="submitted">
                        Answer : <span style="color: #01AF16;"> {{currentQuestion.correct_answer}}  </span> 
                    </div>
                 
                    <div class="col-md-12 quiz-footer" style="background: none; padding-right: 0%;">
                     <button [disabled]="submitted" class="btn submit-quiz-btn float-right" (click)="submitQuiz()" > Submit </button>
                     <button [disabled]="!isNextBtnActive()" class="btn next-quiz-btn float-right" (click)="nextQuestion()" > Next Question </button>
                     <button [disabled]="!isPreviousBtnActive()" class="btn prev-quiz-btn float-right" (click)="previousQuestion()"> Previous Question </button>
                   </div>
                 
            </div>
        </div>
    </div>
</div>