/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.row {
  margin: 0 !important;
}


.add-icon{
  position: absolute;
  right: 50px;
  font-size: 50px;
  bottom: 50px;
  cursor: pointer;
}

.add-icon :hover{
  opacity: 0.6;
}


.quizbtn{
  box-shadow: none !important;
  border:  #ff8500 !important;
  background-color: #ff8500 !important;
}

.quizhead{
  color: #949596; margin-left: 14px;
  padding: 8px;
  margin-top: -18px;  
}

.quizheading{
margin-top: -15px;
  padding: 6px;
  margin-left: 15px;
}

.quiz-container{
  width: 90%;
  background: #fff;
}

.quiz-outline{
  border: 1px solid #CECECE !important;
  border-radius: 5px;
}
.quiz-question{
  padding: 12px 25px;
  font-weight: 450;
  color: #808080 !important;
  font-weight: 700;
}

.quiz-option{
  border-bottom: 1px solid #CECECE;
  background: #fff !important;
  padding: 15px 25px;
  font-weight: 450;
  color: #808080 !important;
}

.next-quiz-btn{
  width: 180px;
  margin: 15px 10px 0px 10px;
  background: #569BF7 !important;
  color: #fff !important;
}

.prev-quiz-btn{
  width: 180px;
  background: #fff;
  color: #363636 !important;
  font-weight: 600;
  border: 1.5px solid #569BF7 !important;
  margin: 15px 10px 0px 0px;
}

.submit-quiz-btn{
  background: #01af16 !important;
  color: #fff !important;
  width: 180px;
  margin-top: 15px;
}

.question-index{
  padding-left: 25px;
}

.quiz-footer{
  position: absolute !important;
  bottom: 35px;
  right: 20px;
}